.footer.container{
    background-color: #011129;
    color: white;
    font-size:22px;
   padding: 25px;
   display: flex;
   justify-content: left;
   justify-content: space-around;
   position: relative;
   border-radius: 18px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer.button{
    
    color:white;
    background-color: #011129;
    position: absolute;
    bottom: 0;
    
}
/*//////////////////////////////////////////////////////////////////////////////////////*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#aeb4bd ;    
}

body{
    background-color:#aeb4bd ;
}

.container form{
    width: 700px;
    padding: 50px;
    background-color:floralwhite;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column{
    flex: 1 ;
}

.title{
    font-size:25px;
    color: #0b2753;  
    margin-bottom: 5px;
}

.form-group{
    font-size: 20px;
    margin: 15px;
    margin-bottom: 10px;
    color:#0b2753;
}

input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #bac0c5;
}
input:focus{
    outline: none;
    box-shadow: 0 0 7px #031634;
}

.flex{
    display: flex;
    gap: 15px;
}

.btn{
    width: 100%;
    padding: 12px;
    border: none;
    background-color:#011129;
    color: #aeb4bd;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 1 0 10px rgb(128, 128, 128);
    font-size: 17px;
}

.btn:hover{
    background: rgb(14, 154, 14);
}

.form-group img{
    height: 30px;
    margin-top: 5px;
}
.bb{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.footer-column  .fa-facebook{
    color: #3b38fd; 
    margin-right: 10px;
}
.footer-column  .fa-twitter{
    color: #0e98ed;
    margin-right: 10px;
}
.footer-column  .fa-instagram{
    color: #9f185c;
    margin-right: 10px;
}
.footer-column .fa-whatsapp{
    color: #24ec6d; 
    margin-right: 10px;
}










    

    
    







