body {
    background: #ffff;
    color: #b8acde;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

.icons{
display: flex;
gap: 10px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #010a14; /* اللون الأزرق الفاتح */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.icon-circle:hover {
  background-color: #5391a1;
  transform: scale(1.1);
}

label {
    font-size: 16px;
    color: #010a14;
    font-weight: bold;
    margin-bottom: 10px;
}

#search {
    width: 500px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#search:focus {
    outline: none;
    border-color: #5391a1;
    box-shadow: 0 0 5px #289fbf;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9rem;
    padding: 6rem;

}

.product-card .flip-inner .flip-front {
    border-radius: 25px 25px;
}

.product-card .flip-inner .flip-back {
    border-radius: 20px 70px;
}

.product-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }

  .product-card:hover {
    transform: scale(1.0);
}
  
  .flip-inner {
    width: 100%;
    height: 100%;
    transition: transform 1.9s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .product-card:hover .flip-inner {
    transform: rotateY(180deg);
  }
  
  .flip-front,
  .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .flip-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flip-front img:hover {
    transform: scale(1.0);
  }
  
  .flip-back {
    background-color: #536a85;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .flip-back h3 {
    font-family: Georgia, serif;
    margin-bottom: 10px;
  }
  
  .flip-back p {
    font-family: Georgia, serif;
    margin-bottom: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .flip-back button {
    padding: 10px 15px;
    border: none;
    background-color: #fff;
    color: #010a14;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .flip-back button:hover {
    color: #fff;
    background-color: #0d1925;
  }